<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Couriers</h1>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      All Couriers
    </div>
    <div class="table-responsive" ng-controller="ViewCouriersCtrl">
      <table ui-jq="footable" class="table table-striped b-t b-b">
      <!-- <table ui-jq="dataTable" ui-options="{
          sAjaxSource: 'api/couriers.json',
          aoColumns: [
            { mData: 'Logo' },
            { mData: 'Courier' },
            { mData: 'Rating' },
            { mData: 'FinalHealth' },
            { mData: 'Delivered' },
            { mData: 'Shipped' },
            { mData: 'Income' }
          ]
        }" class="table table-striped b-t b-b"> -->
        <thead>
          <tr>
            <th  style="width:10%">Logo</th>
            <th  style="">Courier</th>
            <th  style="">Rating</th>
            <th  style="width:15%">WS Health</th>
            <th  style="width:10%">Deliveries</th>
            <th  style="width:15%">Shipped</th>
            <th  style="width:15%">Total Income</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="courier in couriers track by courier._id" ng-init="stars=getStars(courier.rating)">
            <td><a class="thumb-md pull-left m-r"><img class="img-thumbnail" src="" /></a></td>
            <td ng-click="courierDetails(courier)">{{courier.name}}</td>
            <td><i class="fa fa-star text-warning" ng-repeat="n in stars"></i></td>
            <!-- <td>{{courier.rating}}</td> -->
            <td><i class="fa fa-circle text-success"></i> Good</td>
            <td>{{courier.deliveries  | number:0}}</td>
            <td>{{courier.shipped  | number:0}} KG</td>
            <td>{{courier.totalIncome  | number:2}}</td>
          </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="9" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
<style>
  .table > tbody > tr > td{ vertical-align: middle;}
</style>