<div class="bg-light lter b-b wrapper-md">
    <ul class="nav nav-pills nav-sm">
    <h1 class="m-n font-thin h3 pull-left">Transactions</h1>
    <li class="active m-l-md">
      <div class="dropdown">
          <button class="btn btn-default" data-toggle="dropdown" aria-expanded="false">Tools <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href=""><i class="fa fa-file-excel-o"></i> Export as Excel</a></li>
            <li><a ui-sref="app.page.createinvoice"><i class="icon-doc"></i> Invoice</a></li>
            <li><a ui-sref="app.page.createinvoice"><i class="icon-doc"></i> Bill</a></li>
          </ul>
        </div>
    </li>       
  </ul>
</div>
<div class="wrapper-md" ng-controller="ViewTransactionsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      All Transactions
    </div>
    <div class="table-responsive">
      <table ui-jq="footable" class="table table-striped b-t b-b">
      <!-- <table ui-jq="dataTable" ui-options="{
          sAjaxSource: 'api/datatable.json',
          aoColumns: [
            { mData: 'index' },
            { mData: 'eRetailer' },
            { mData: 'Courier' },
            { mData: 'weight' },
            { mData: 'Status' },
            { mData: 'customerphone' },
            { mData: 'date' },
            { mData: 'price' },
            { mData: 'payment' }
          ]
        }" class="table table-striped b-t b-b"> -->
        <thead>
          <tr>
            <th style="width:10%">ID</th>
            <th style="width:13%">eRetailer</th>
            <th style="width:10%">Courier</th>            
            <th style="width:10%">weight</th>
            <th style="width:10%">Status</th>
            <th style="width:15%">Mobile</th>
            <th style="width:14%">Date</th>
            <th style="width:10%">Income</th>
            <th style="width:10%">Payment</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transaction in transactions track by transaction._id">
            <td ng-click="transactionDetails(transaction)">{{transaction._id}}</td>
            <td>{{transaction.retailerId.name}}</td>
            <td>{{transaction.CourierId.name}}</td>
            <td>{{transaction.weight.value  | number:0}} {{transaction.weight.Unit}}</td>
            <td>{{transaction.Status}}</td>
            <td>{{transaction.Mobile}}</td>
            <td>{{transaction.Date | date : 'dd-MMM-yy hh:mm a'}}</td>
            <td>{{transaction.Income  | number:2}}</td>
            <td>{{transaction.Payment}}</td>
          </tr>
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
            <td colspan="9" class="text-center">
              <ul class="pagination"></ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div>
      <button type="button" class="btn" ng-click="createRandom()">Create Random Transactions</button>
    </div>

  </div>
</div>
