<div class="bg-light lter b-b wrapper-md">
  <ul class="nav nav-pills nav-sm">

    <li class="active">
      <div class="dropdown">
        <button class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
          View All Branches
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="">Branch 1</a>
          </li>
          <li>
            <a href="">Branch 2</a>
          </li>
          <li>
            <a href="">Branch 3</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="form-group">
        <label class=" col-sm-4 control-label">Date Range</label>
        <div class="col-sm-8">
          <input ui-jq="daterangepicker" ui-options="{
                format: 'YYYY-MM-DD',
                startDate: '2013-01-01',
                endDate: '2013-12-31'
              }" class="form-control w-md" />
        </div>
      </div>
    </li>

  </ul>
</div>
<div class="wrapper-md" ng-controller="UpdateRetailerCtrl">
  <div ng-controller="FlotChartDemoCtrl">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="clearfix text-center m-t-sm m-b-xs">
              <div class="inline">
                <div class="thumb-xl">
                  <img src="{{imageBase}}{{retailer._id}}" class="img-thumbnail" alt="..."></div>
                <div class="h3 m-t m-b-xs">{{retailer.name}}</div>
                <small class="text-muted m-b">{{retailer.category}}</small>
              </div>
            </div>
          </div>
          <footer class="panel-footer bg-default text-center no-padder">
            <div class="panel-footer bg-light lter wrapper">
              <div class="row">
                <div class="col-xs-6">
                  <small class="text-muted block">Transcations</small>
                  <span class="text-md">{{retailerTransactionsNum | number:0}}</span>
                </div>
                <div class="col-xs-6">
                  <small class="text-muted block">Income</small>
                  <span class="text-md">$ {{retailer.totalIncome | number:0}}</span>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading font-bold">{{retailer.name}} Performance</div>
          <div class="panel-body">
            <div ui-jq="plot" ui-options="
              [
                { data: {{d}}, points: { show: true, radius: 6}, splines: { show: true, tension: 0.45, lineWidth: 5, fill: 0 } }
              ], 
              {
                colors: ['{{app.color.info}}'],
                series: { shadowSize: 3 },
                xaxis:{ 
                  font: { color: '#ccc' },
                  position: 'bottom',
                  ticks: [
                    [ 1, 'Jan' ], [ 2, 'Feb' ], [ 3, 'Mar' ], [ 4, 'Apr' ], [ 5, 'May' ], [ 6, 'Jun' ], [ 7, 'Jul' ], [ 8, 'Aug' ], [ 9, 'Sep' ], [ 10, 'Oct' ], [ 11, 'Nov' ], [ 12, 'Dec' ]
                  ]
                },
                yaxis:{ font: { color: '#ccc' } },
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%x.1 is %y.4',  defaultTheme: false, shifts: { x: 0, y: 20 } }
              }
            " style="height:240px" ></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- tab -->
  <div>
    <tabset class="tab-container">

      <tab>
        <tab-heading> <i class="fa fa-ellipsis-h"></i>
          Details
        </tab-heading>
        {{retailer.name}}, {{retailer.contactInfo.address}}, Point of contact..etc
      </tab>

      <tab>
        <tab-heading> <i class="fa fa-gear"></i>
          Configuration
        </tab-heading>
        <form name="retailerForm" class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled">
          <div class="form-group">
            <label class="col-sm-2 control-label">Account Status</label>
            <div class="col-sm-10 inline">
              <label class="i-switch i-switch-md bg-success m-t-xs m-r">
                <input type="checkbox" name="accountStatus" ng-model="retailer.accountStatus">
                <i></i>
              </label>
              <span class="help-block m-b-none">
                <small>Activate or Deactivate the account.</small>
              </span>
            </div>
          </div>
          <div ng-repeat="courier in couriers" ><!-- ng-init="perCourierInfo[courier._id]={};perCourierInfo[courier._id].markup={}" -->
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-sm-2 control-label">
                <img src="" class="img-rounded m-r-xs thumb-xs" />
                {{courier.name}}
              </label>
              <div class="col-sm-10 inline">
                <label class="i-switch i-switch-md bg-info m-t-xs m-r">
                  <input type="checkbox" name="courierActivated-{{courier._id}}" ng-checked="courierActivated(courier)" ng-click="updateSelection($event, courier)">
                  <i></i>
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Markup</label>
              <div class="col-sm-2 inline">
                <input type="number" name="markupValue-{{courier._id}}" class="form-control" placeholder="5" ng-model="perCourierInfo[courier._id].markup.value" ng-required="courierActivated(courier)" ></div>
              <div class="col-sm-1 inline">
                <select name="markupCategory-{{courier._id}}" class="form-control" ng-model="perCourierInfo[courier._id].markup.category" ng-required="courierActivated(courier)">
                  <option value="percent">%</option>
                  <option value="AED">AED</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Account Username</label>
              <div class="col-sm-3 inline">
                <input type="text" name="markupUserName-{{courier._id}}" class="form-control" placeholder="bahaa498@gmail.com" ng-model="perCourierInfo[courier._id].userName"></div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Account Password</label>
              <div class="col-sm-3 inline">
                <input type="text" name="markupPassword-{{courier._id}}" class="form-control" placeholder="kbasd#!27ZsjT" ng-required="perCourierInfo[courier._id].userName" ng-model="perCourierInfo[courier._id].password"></div>
            </div>
          </div>
          
          <div ng-repeat="apiKey in retailer.apiKeys">
            <div class="line line-dashed b-b line-lg pull-in"></div>
            <div class="form-group">
              <label class="col-lg-2 control-label">API Key [{{apiKey.category}}]</label>
              <div class="col-lg-4">
                <input class="form-control inline" type="text" value="{{apiKey.token}}" disabled=""></div>
              <!-- <div class="col-lg-2">
                <a class="btn btn-default inline" ng-click="regenerateApiKey(apiKey)">Regenerate</a>
              </div> -->
            </div>
          </div>

          <!-- <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Development API Key [{{retailer.apiKeys[1].category}}]</label>
            <div class="col-lg-4">
              <input class="form-control" type="text" placeholder="retailer.apiKeys[1].token" disabled=""></div>
            <div class="col-lg-2">
              <a class="btn btn-default inline" ng-click="regenerateApiKey(retailer.apiKeys[1])">Regenerate</a>
            </div>
          </div> -->

          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
              <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
              <button type="submit" class="btn btn-primary" ng-click="updateRetailer(retailer)">Save changes</button>
            </div>
          </div>
        </form>
      </tab>

    </tabset>

  </div>
  <!-- / tab -->

</div>